<div class="dashboard-container">
    <h2>{{ getMonthName(month) }} {{ year }}</h2>

    <p *ngIf="averageMood > 0">Mood medio mensual: {{ averageMood }}</p>
    <p *ngIf="averageMood === 0">No hay datos para este mes</p>

    <div>
        <canvas baseChart
                [data]="chartData"
                [type]="chartType"
                [options]="chartOptions">
        </canvas>
    </div>

    <h3>Frecuencia de Tags</h3>
    <div>
        <canvas baseChart
                [data]="tagChartData"
                [type]="tagChartType"
                [options]="{ responsive: true }">
        </canvas>
    </div>
</div>